/*
 *= require_self
 *= require lazybox
 *= require_tree .
 */

.translation_missing {
  color: red;
  background: black;
}

#carousel-container {
  margin: 20px auto;
  width: 90%;
}

.adtrex-form {
  max-width: 400px;
}
